################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Code/x64/Debug
/Code/.vs/LabProject07-9-1/v17
/Code/.vs/LabProject07-9-1/FileContentIndex
/Engine/.vs/Engine

/NonSense/NonSense/Model/
/NonSense/NonSense/Terrain/
/NonSense/NonSense/x64/
/NonSense/NonSense/NonSense.vcxproj
/NonSense/x64/
/NonSense/.vs

/NonSense/Engine/x64/
/NonSense/ImaysNet/x64/

/NonSense/NonSense/Terrain
/NonSense/NonSense_Server/x64/Debug
/NonSense/NonSense_Server/x64/Release
/NonSense/NonSense/Sound
/NonSense/NonSense/SkyBox
